:root {
	--greyBorder: #b3b3b3;
	/* --greyBg: #808080; */
	--lightPinkSilkBg: #c9b7eb;
	/* --containerBgColor: #d4d4d4; */
	--containerBgColor: #dacbcb;
	--transparentBorder: #b3b3b334;
}

body,
html {
	margin: 0;
	height: 100%;
	min-height: 100%;
	font-family: Arial, sans-serif;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container-default {
	margin: 25px 25px 25px 25px;
	border-radius: 10px;
	flex: 1;
	height: 100%;
}

.wrapper {
	margin-right: 25px;
	margin-left: 25px;
	border-radius: 10px;
}

.container-default-bg-color {
	background-color: var(--containerBgColor);
}

.shadow-bg {
	/* border: 1px solid var(--transparentBorder);
	-webkit-box-shadow: 0 0 10px #808080;
	box-shadow: 0 0 10px #808080; */
	box-shadow: inset 3px 3px 7px #ffffffb0, inset -3px -3px 5px rgba(94, 104, 121, 0.692);
}

.pink-silk-bg{
	background: var(--lightPinkSilkBg);
}

.shadow-bg-inset {
	border: 1px solid var(--containerBgColor);
	-webkit-box-shadow: inset -3px -3px 7px #ffffffb2, inset 3px 3px 7px rgba(94, 104, 121, 0.945);
	box-shadow: inset -3px -3px 7px #ffffffb2, inset 3px 3px 7px rgba(94, 104, 121, 0.945);
}

.border-radius-1 {
	border-radius: 10;
}

.border-radius-2 {
	border-radius: 20;
}

.overflow-scroll {
	overflow: scroll;
}

.smoke-fume {
	color: #cacaca;
}

.charcoal {
	color: #1a1a1a;
}
.button-violet {
	background-color: #a148eb !important;
	color: #ddd;
}

input[type="button"] {
	outline: none !important;
	box-shadow: none !important;
}
