.footer {
    flex: none;
    width: 100%;
    background: linear-gradient(to right, #9e41eb, #caa0ec);
    height: 60px;
}

.footer-brand-text {
    margin-right: 1vw;
    float: right;
    font-size: 16px;
    font-weight: bold;
    color: white;
}